# 1. Gemini API
#   - Set GOOGLE_API_KEY to your Gemini API key
#   - Set GOOGLE_GENAI_USE_VERTEXAI to false
# 2. Vertex AI
#   - Set GOOGLE_GENAI_USE_VERTEXAI to true
#   - Set GOOGLE_CLOUD_PROJECT to your Google Cloud project ID
#   - Set GOOGLE_CLOUD_LOCATION to your Google Cloud location
GOOGLE_API_KEY=
GOOGLE_GENAI_USE_VERTEXAI=false
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=

LANGSMITH_TRACING=true
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="llmops-demo-ts"
LANGSMITH_API_KEY="<YOUR-LANGSMITH-API-KEY>"
