name: Test Check

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: "test-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

permissions: read-all

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read # For repo checkout

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.10.3
        with:
          egress-policy: audit
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: Install dependencies
        run: |
          pnpm install
      - name: Install Playwright browsers
        run: |
          pnpm --filter @llmops-demo-ts/frontend exec playwright install --with-deps
      - name: Run tests
        run: |
          pnpm test
